<center>
<form method="POST" action="/login">
  <input name="email" type="email" placeholder="Email" required><br><br>
  <input name="password" type="password" placeholder="Password" required><br><br>
  <button>Login</button>
</form>
<a href="/register">Register | </a>
<a href="/reset">Forget password?</a>
</center>