<h2>Register</h2>
<form method="POST" action="/register">
  <input name="username" placeholder="Username" required><br>
  <input name="email" type="email" placeholder="Email" required><br>
  <input name="password" type="password" placeholder="Password" required><br>
  <button>Register</button>
</form>
