<h2>Reset Password</h2>
<form method="POST" action="/reset">
  <input name="email" type="email" placeholder="Email" required><br>
  <input name="password" type="password" placeholder="New Password" required><br>
  <button>Reset</button>
</form>
